/* ================================
    CSS STYLES FOR Module AARSYS.ShoutcastStats
   ================================
*/
/* Width of the complete Module View_ShoutcastStats */
.scs_table
{
    width: 150px;
    
}
/* Format of the Labels */
.scs_label
{
    clear:left;
    font-family:Comic Sans MS, Arial, Tahoma;
    color:Blue;
    width: 150px;
}

/* Format of the Marquee */
.scs_marquee
{
    width: 150px;
    background-color:Blue;
    color:Aqua;
    font-family:Comic Sans MS, Arial, Tahoma;
    font-style:normal;    
}

/* Format of the Lists of Stats_ShoutcastStats and List_ShoutcastStats */
.scs_panel
{
    clear:left;
    
}

/* Format the Chatimmages */
scs_Chat
{
    padding-left: 5px;
    height: 125%;
    width: 125%;
    
}

/*Start your Player */
.scs_PlayerText
{
 font-size:small;
 font-style: italic;
 color:Maroon;
 text-align:center;
}
